body {
  font-family: "Oswald", sans-serif;
}
.navbar {
  background-color: #f58f15;
}
.item.menu {
  color: #ffffff;
}

header {
  background-image: url("../img/yo3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.other {
  font-weight: 200;
  margin-top: 400px;
}
.font {
  font-weight: 200;
}
.w-25 {
  width: 10% !important;
}

.summary {
  padding-left: 230px;
  padding-right: 230px;
}
.h1-border {
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-width: 2px 10px 5px;
}
.experience {
  font-weight: 600;
}
.my-works {
  background-color: #f58f15;
}
.my-works p {
  font-weight: 200;
  font-size: 16pt;
}
.the-latest-works {
  color: #ffffff;

  font-weight: 600;
  /*padding-top: 50px;*/
}
.contact-title {
  padding-top: 50px;
  font-weight: 600;
  padding-bottom: 50px;
}
.footer-end {
  background-color: #f58f15;
}
.margin-right-aw {
  margin-right: 15px;
}
.icon-section {
  color: white;
}
.fa-github:before {
  color: #ffffff;
}
.fa-linkedin:before {
  color: #ffffff;
}
.fa-twitter-square:before {
  color: #ffffff;
}
.fa-facebook-square:before {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .h1-border {
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  .w-25 {
    width: 40% !important;
  }
  .fa-github:before {
    color: #ffffff;
  }
}
